<p>Cher <%=recipientName%>,</p>
<p>Vous avez demandé le renouvelement de votre mot de passe lié au compte WeFoot : <%=email%></p>
<br/><p><a href="http://wefoot.co/resetpwd.html?token=<%=token%>&email=<%=email%>">Cliquez sur ce lien pour créer un nouveau mot de passe</a></p>
<p>Love,<br/><%=senderName%></p>